<!-- NavBar -->
<nav class="uk-navbar uk-navbar-attached" data-uk-sticky>
	<ul class="uk-navbar-nav">
		<li class="uk-parent border" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
			<a href="" class="">Menú</a>
			<div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom  border-top" style="top: 40px; left: 0px;">
				<ul class="uk-nav uk-nav-navbar">
					<% if user_signed_in? %>
						<li><a href="/show" style="color: #fff;">Perfil</a></li>
						<li class="uk-nav-divider"></li>
						<li><a href="/infocards/new" style="color: #fff;">Nuevo Registro</a></li>
						<li class="uk-nav-divider"></li>
						<li><%= link_to 'Salir', destroy_user_session_path, style: "color: #fff", method: 'DELETE' %></li>
					<% else %>
						<li><%= link_to 'Registro', new_user_registration_path, style: "color: #fff" %></li>
						<li class="uk-nav-divider"></li>
						<li><%= link_to 'Login', new_user_session_path, style: "color: #fff" %></li>
					<% end %>
				</ul>
			</div>
		</li>
	</ul>
	<div class="uk-navbar-flip">
		<%= render partial: 'infocards/search' %>
	</div>
	<div class="uk-navbar-content uk-navbar-center uk-navbar-brand">
		<a id="brand" href="/">Partillar</a>
	</div>
</nav>
