<% if flash[:notice] %>
<div class="uk-alert uk-alert-warning" data-uk-alert>
	<a href="" class="uk-alert-close uk-close"></a>
	<p><%= flash[:notice]  %></p>
</div>

<% end %>

<div class="uk-width-medium-2-3 uk-container-center">
	<div class="uk-panel">
		<h1 class="uk-panel-title uk-text-center">Crea un nuevo registro</h1>
		<%= render 'form' %>
	</div>
</div>