// Variables
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

$font-heading: "abril-fatface", sans-serif;
$font-text: 'Playfair Display', serif;
$base-body-font-family: $font-text;
$base-body-font-size: 14px;
$base-code-font-family: $font-text;
$base-code-font-size: 14px;
$base-heading-font-family: $font-heading;
$base-pre-font-family: $font-text;
$base-pre-font-size: 14px;
$navbar-nav-font-family: $font-heading;
$navbar-nav-font-size: 16px;

$principal-color: #0099CC;
$secondary-color: #35363A;
$button-large-font-size: 24px;
$button-primary-background: $principal-color;
$button-color: $principal-color;
$nav-search-color: #fff;
$navbar-brand-font-size: 20px;
$navbar-brand-color: #fff;
$search-width: 200px;
$search-focus-width: 300px;
$search-height: 50px;
$search-color: #fff;
$search-placeholder-color: #fff;
$search-icon-size: 16px;
$search-icon-color: #fff;
$navbar-toggle-font-size: 20px;
$dropdown-navbar-background: $secondary-color;
$navbar-nav-hover-background: $secondary-color;


@import "font-awesome";
@import "uikit";
@import "uikit-components";

li > a {
    height: 55px;
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
}

.uk-block {
    padding-top: 10px;
    padding-bottom: 10px;
}
.uk-form input, .uk-form textarea {
    font-size: $button-large-font-size;
    color: #fff;
}
.uk-dropdown {
    color: #fff;
}
.uk-table td, .uk-table th {
    padding: 8px 8px;
    border-bottom: 1px solid #e5e5e5;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
}
h3 {
    margin: 5px 5px -5px 5px;
}
#brand {
    text-decoration: none;
    color: #fff;
}
#brand:hover {
    color: $principal-color;
}
#infocard {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 0px;
    width: 100%;
    color: #fff;
    background: $secondary-color;
    z-index: 2;
    opacity: 0.9;
}
#footer_description {
    border-left: 1px solid $principal-color;
    padding: 20px 40px;
    font-family: "source-sans-pro";
}
.infocard_title {
    font-size: 70px;
    line-height: 70px;
    font-family: "abril-fatface";
    font-style: italic;
}
.footer_title {
    padding: 20px 40px;
}
.infocard_overlay {
    background: rgba(0, 0, 0, 0);
}
#infocardClose {
    position: absolute;
    right: 40px;
    top: 5px;
    color: #fff;
}


.uk-cover-background {
    background-position: 50% 50%;
    background-size: contain; 
    background-repeat: no-repeat;
}

.uk-navbar {
    background: $secondary-color;
    color: #fff;
    height: 55px;
}
.uk-navbar-brand {
	margin-top: 10px;
    font-size: 30px;
}
.uk-navbar-brand:hover {
	color: $principal-color;
}

.uk-search-field {
	border-bottom: 2px solid $principal-color;
	margin-top: 1px;
    background-color: secondary-color;
}

.border {
    border-bottom: 2px solid $principal-color;
    margin-top: -8px;
}
.border-top {
    border-top: 2px solid $principal-color;
    margin-top: -5px;
}

.uk-navbar-nav {
    padding-top: 3px;
}

.uk-navbar-nav > li > a {
    height: 55px;
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
}

.uk-navbar > li.uk-open > a {
    background: $secondary-color;
    color: #fff;
}
.uk-navbar-nav > li:hover > a {
    background: $secondary-color;
    color: #fff;
}
.uk-dropdown-navbar,
.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a:focus,
.uk-navbar > li.uk-open > a {
    background: $secondary-color;
    color: #fff;
}

.uk-panel, .uk-panel:hover {
    text-decoration: none;
    border: 2px solid $principal-color;
    margin-top: 5px;
    padding: 20px;
} 
.uk-panel-title {
    font-size: 24px;
}
.uk-form-label {
    margin-bottom: 10px;
}

.uk-form input, .uk-form textarea {
    font-size: 16px;
}
.uk-form textarea {
    color: black;
}



#map {
	height:100vh;
}


#iw-container  .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin-left: 5px;
    border-radius: 4px 4px 0 0; 
}
.gm-style-iw {
    // width: 250px !important;
    top: 15px !important; // move the infowindow 15px down
    left: 0 !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 10px 10px; 
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 16px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}
.iw-title {
    color: #000000;
}
.infowindow_link {
    margin-bottom: -40px;
}







