// Variables
$nav-search-color: #fff;
$navbar-brand-font-size: 20px;
$navbar-brand-color: #fff;
$search-width: 200px;
$search-focus-width: 300px;
$search-height: 50px;
$search-color: #fff;
$search-placeholder-color: #fff;
$search-icon-size: 16px;
$search-icon-color: #fff;
$navbar-toggle-font-size: 20px;



@import "font-awesome";
@import "uikit";
@import "uikit-components";

.uk-cover-background {
    background-position: 50% 50%;
    background-size: contain; 
    background-repeat: no-repeat;
}

.uk-navbar {
    background: #35363A;
    color: #fff;
    height: 55px;
}
.uk-navbar-brand {
	margin-top: 10px;
}
.uk-navbar-brand:hover {
	color: #0099cc;
}
.uk-navbar-toggle:after {
    content: "";
    font-family: FontAwesome;
    vertical-align: middle;
    color: white;
}
.uk-search-field {
	border-bottom: 2px solid #0099cc;
	margin-top: 1px;
}

#map {
	height:100vh;
}

#iw-container  .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 5px;
    border-radius: 4px 4px 0 0; 
}
.gm-style-iw {
    // width: 250px !important;
    top: 15px !important; // move the infowindow 15px down
    left: 0 !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 10px 10px; 
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 16px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}
