<!-- NavBar -->
<nav class="uk-navbar uk-navbar-attached">
	<ul class="uk-navbar-nav">
		<li class="uk-parent border" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
			<a href="" class="">Menú</a>
			<div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom  border-top" style="top: 40px; left: 0px;">
				<ul class="uk-nav uk-nav-navbar">
					<li><a href="/contents/new" class="">Nuevo Registro</a></li>
					<li><a href="#">Another item</a></li>
					<li class="uk-nav-header">Header</li>
					<li><a href="#">Item</a></li>
					<li><a href="#">Another item</a></li>
					<li class="uk-nav-divider"></li>
					<li><a href="#">Separated item</a></li>
				</ul>
			</div>
		</li>
	</ul>

	<div class="uk-navbar-flip">
		<%= render partial: 'search' %>
	</div>
	<div class="uk-navbar-content uk-navbar-center uk-navbar-brand">PARTILLAR</div>
</nav>
